
body {
	margin: 0px;
	font-family: 'Lato', sans-serif;
}

img {
	max-width: 100%;
	max-height: 100%;
}

ul{
	font-size: 16px;
}
/*************************
**** =Defaults
*************************/

.clear {
	clear: both;
}

.clearfix:before,
.clearfix:after {
	content: '.';
	display: block;
	overflow: hidden;
	visibility: hidden;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.center{
	max-width:1140px;
	width: 100%;
	margin: 0 auto;
	padding: 0 20px;
}

h1, h2, h3, h4, h5, h6 {
	margin-top: 0px;
}

p {
	font-size: 16px;
}

a{
	color: #FFF;
	font-weight: bold;
	text-decoration: underline;
}

a:hover,
a:focus,
a:active{
	color: #FFF;
	outline: 1px solid;
}

a:hover,
a:focus{
	outline: 1px solid;
}

.btn {
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	     transition: all 0.3s ease-in-out;
}

.btn-red {
	background: #e42421;
	border-color: #bc1e1b;
	border: none;
	-webkit-box-shadow: 0px 2px 0px #951919, -3px 0px 0px #951919;
	   -moz-box-shadow: 0px 2px 0px #951919, -3px 0px 0px #951919;
	        box-shadow: 0px 2px 0px #951919, -3px 0px 0px #951919; 
	-webkit-border-radius: 3px; 
	   -moz-border-radius: 3px; 
	        border-radius: 3px;
	font-weight: bold;
	font-size: 27px;
	padding: 13px 41px;
}

.btn-red:hover,
.btn-red:active,
.btn-red:focus {
	background: #bc1e1b;
	border: none;
}

/*************************
**** =Header
*************************/

#header {
	background: url(../images/banner-bg.jpg) no-repeat top center;
	width: 100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
	padding: 80px -0px 40px;
	text-align: center;
}

#header .navbar {
	background: rgba(0, 173, 242, 0.68);
}

.navbar-nav>li>a {
	line-height: 20px;
	font-size: 19px;
	font-weight: bold;
	color: white;
	-webkit-transition: 0.3s all ease-in-out;
	-o-transition: 0.3s all ease-in-out;
	transition: 0.3s all ease-in-out;
	text-decoration: none;
	
}

.navbar-nav>li>a:hover,
.navbar-nav>li.active>a,
.navbar-nav>li>a:focus,
.navbar-nav>li>a:active {
	background: #009ddc;
	border: none;
	outline: none;
}

.navbar-nav>li>a.active {
	background: #009ddc;
}

.navbar .navbar-toggle {
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.90);
	border: none;
	-webkit-border-radius: 0;
	   -moz-border-radius: 0;
	        border-radius: 0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	     box-shadow: none;
}

.navbar .navbar-toggle .icon-bar {
    background: none repeat scroll 0 0 #009ddc;

}

#header h1 {
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 35px;
	font-size: 64px;
	line-height: 63px;
}

#header h1 strong {
	font-weight: 900;
	font-size: 77px !important;
	letter-spacing: -4px;
}

#header h1 span {
	background: #22a03d;
	padding: 1px 7px;
	font-size: 71px;
	font-weight: 900 !important;
	letter-spacing: -5px;
	display: inline-block;
}

#header h3 {
	color: #fff;
	margin-bottom: 50px;
}

#header h3 span {
	background-color: #009ddc;
	padding: 3px 10px 5px;
	line-height: 38px;
}

/*************************
**** =Main
*************************/

/*************************
**** =speaking-categories
*************************/

.speaking-categories {
	background: url(../images/section-1-bg.jpg) repeat;
	padding-bottom: 35px;
}

.speaking-categories .center {
	text-align: center;
}

.speaking-categories h2 {
	padding-top: 115px;
	font-weight: bold;
	font-size: 35px;
}

.speaking-categories h4 {
	margin-bottom: 60px;
}

.speaking-categories h3 {
	color: #23a237;
	font-size: 17px;
	font-weight: bold;
	margin-bottom: 28px;
}

.speaking-categories img {
	margin-bottom: 35px;
}

.speaking-categories .row {
	padding-bottom: 125px;
}

.speaking-categories .row p {
	line-height: 25px;
	margin-bottom: 0px;
}



/*************************
**** =know-about-us
*************************/

.know-about-us {
	background: #555555;
	color: #ffffff;
}

.know-about-us h2 {
	font-weight: bold;
	padding-top: 95px;
}

.know-about-us .text {
	width: 68%;
	float: right;
	padding-bottom: 2em;
}

.know-about-us img {
	padding-top: 95px;
	width: 30%; 
	float: left;
	max-width: 250px;
}

/*************************
**** =faq
*************************/

.faq {
	background: #ACACAC;
	color: #ffffff;
	font-size: 16px;
}

.faq h2 {
	font-weight: bold;
	padding-top: 95px;
}


.faq .text {
	width: 68%;
	float: right;
}

.faq img {
	padding-top: 95px;
	width: 30%; 
	float: left;
	max-width: 250px;
}

.faq dt{
	margin-left: 4px;
	padding-bottom: 6px;
}

.faq dt:before{
	content: "\25C6   " ;
}

.faq a{
	text-decoration: none;
}

.faq dd{
	padding-left: 22px;
	padding-bottom: 6px;
}

/*************************
**** =agenda
*************************/
.agenda {
    background: none repeat scroll 0 0 #acacac;
    color: #ffffff;
    font-size: 16px;
}
.agenda h2 {
    font-size: 35px;
    font-weight: bold;
    padding-top: 85px;
}
.agenda h3 {
    color: #555555;
    font-size: 17px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
}
.agenda a:visited {
    color: grey;
}
.agenda table {
    color: black;
}
.agenda .td-time {
    font-weight: bold;
}

/*************************
**** =archiv
*************************/

.archiv {
	background: #000;
	color: #ffffff;
	font-size: 16px;
}

.archiv h2 {
	font-weight: bold;
	padding-top: 95px;
}


.archiv .text {
	width: 68%;
	float: right;
}

.archiv img {
	padding-top: 95px;
	width: 30%; 
	float: left;
	max-width: 250px;
}

.archiv{
	padding-bottom: 95px;
}

/*************************
**** =tickets
*************************/

.tickets {
	background: #ACACAC;
	background: url(../images/section-1-bg.jpg) repeat;
	padding-bottom: 35px;
	color: #333;
	font-size: 16px;
}

.tickets h2 {
	font-weight: bold;
	padding-top: 95px;
}


.tickets .text {
	width: 68%;
	float: right;
}

.tickets img {
	padding-top: 95px;
	width: 30%; 
	float: left;
	max-width: 250px;
}

.tickets a{
	text-decoration: none;
}



/*************************
**** =organizers
*************************/

.organizers {
	background: #555555;
	color: #ffffff;
}

.organizers h2 {
	font-weight: bold;
	padding-top: 95px;
}

.organizers .text {
	width: 68%;
	float: right;
}

.organizers img {
	padding-top: 5px;
	width: 15%; 
	float: left;
	max-width: 250px;
	margin-left: 10%;
}

.orgainfo{
	 min-height:200px;
	}
/*************************
**** =our-sponsors
*************************/

.our-sponsors {
	background: #019cde;
	text-align: center;
	color: #ffffff;
}

.our-sponsors .row a:hover {
	background-color: #019cde;
}

.our-sponsors h2 {
	padding-top: 110px;
	margin-bottom: 30px;
	font-size: 40px;
	font-weight: bold;
}

.our-sponsors p {
	font-size: 19px;
	margin-bottom: 43px;
}

.our-sponsors .center {
	padding-bottom: 118px;
	padding-left: 40px;
	padding-right: 40px;
}

.our-sponsors .sponsors {
	margin-left: -2px;
	margin-right: -2px;
}

.our-sponsors .sponsors .sponsor {
	padding-left: 2px;
	padding-right: 2px;
}

.our-sponsors .sponsors .sponsor a {
	background-color: #FFF;
	margin-bottom: 4px;
	height: 236px;
	display: block;
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	     transition: all 0.3s ease-in-out;
}

.our-sponsors .sponsors .sponsor a:hover {
	/*background-color: rgba(0, 163, 232, 0.3); */
	background-color: #FFF;
	-webkit-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.33);
	   -moz-box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.33);
	        box-shadow: inset 0 0 1px rgba(255, 255, 255, 0.33);
}

.our-sponsors .sponsors .sponsor a:before {
	content: '';
	display: inline-block;
	width: 1px;
	height: 100%;
	vertical-align: middle;
}

.our-sponsors .sponsors .sponsor a img {
	display: inline-block;
	vertical-align: middle;
}

.our-sponsors .sponsors .become-sponsor a {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	text-decoration: none;
	background-color: transparent;
	border: 2px dashed #6BD3FF;
}

.our-sponsors .sponsors .become-sponsor a span {
	border-bottom: 2px solid #fff;
}

.our-sponsors .sponsors .become-sponsor a:hover {
	border-color: #fff;
}

/*************************
**** =Footer
*************************/

#footer {
	background: url(../images/footer_bg2.jpg) no-repeat;
	text-align: center;
	width: 100%;
	-webkit-background-size: cover;
	   -moz-background-size: cover;
	     -o-background-size: cover;
	        background-size: cover;
}

#footer h2 {
	padding-top: 95px;
	color: #ffffff;
	margin-bottom: 45px;
	font-weight: bold;
}

#footer .copyright {
	color: #46667A;
	margin-bottom: 25px;
}

#footer .btn-red-large {
	margin-bottom: 210px;
	padding-left: 24px !important;
}

#footer .btn-red-large span {
	background: url(../images/icons/euro-bg.jpg) no-repeat left;
	padding-left: 20px;
	margin-right: -16px;
	margin-left: 13px;
}

#footer .social-icons {
	margin-bottom: 0px;
	padding-bottom: 10px;
}

#footer .social-icons li {
    display: inline-block;
    margin: 5px;
}

#footer .social-icons li:hover {
	opacity: 0.7;
}



/*************************
**** =Media Quries
*************************/



@media screen and (max-width: 900px) {
	
	.speaking-categories .col-sm-4 {
		margin-bottom: 40px;
	}

	.speaking-categories .center {
		margin-bottom: -30px;
	}

	.know-about-us .text {
		float: none;
		margin: 0 auto;
		margin-bottom: 40px;
	}

	.know-about-us img {
		float: none;
		margin: 0 auto;
		display: block;
		padding-top: 60px;
		margin-bottom: -20px;
	}

 }

 @media only screen and (max-width: 872px) {
 	.our-sponsors .row .sponsors {
 		width: 100%;
 		margin-bottom: 20px;
 	}
 }

@media only screen and (max-width: 768px) {
	
	p {
		font-size: 18px;
	}

 	.our-sponsors .sponsors {
		margin-bottom: 30px !important;
	}

 }

@media only screen and (max-width: 539px) {
	
	#header h3 .creative {
		font-size: 22px;
	}

	#header h3 .product {
		font-size: 22px;
	} 	 

	.know-about-us .text {
		width: 100%;
	}

 }

@media only screen and (max-width: 539px) {
 	#header h3 .creative {
		font-size: 18px;
	}

	#header h3 .product {
		font-size: 18px;
	} 	

 }

@media only screen and (max-width: 440px) {
	#header h1 {
		font-size: 60px !important;
	}

	#header h1 span {
		font-size: 64px !important;
	}

	#header h1 strong {
	 font-size: 60px !important;
	}
} 


@media only screen and (max-width: 450px) {
	#footer .btn-red-large {
		margin: 0 auto;
		display: block;
	}
}


@media only screen and (max-width: 410px) {
	#header h1 {
		font-size: 45px !important;
	}

	#header h1 span {
		font-size: 55px !important;
	}

	#header h1 strong {
	 font-size: 49px !important;
	}
}

@media only screen and (max-width: 400px) {
 	#header h3 .creative {
		font-size: 16px;
	}

	#header h3 .product {
		font-size: 16px;
	} 	

 }

@media only screen and (max-width: 370px) {
	#footer .btn-red-large {
		font-size: 21px;
	}
}

@media only screen and (max-width: 365px) {
 	#header h3 .creative {
		font-size: 14px;
	}

	#header h3 .product {
		font-size: 14px;
	} 	

 }