/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
    @import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');
    @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

    html{
		height: 101%;
    	font-family: "Droid Sans", Arial, Helvetica, sans-serif;
		-webkit-text-size-adjust: 100%;
		-ms-text-size-adjust: 100%;
		background-color: #DBDBDB;
    }

    h2 {
        font-family: 'Montserrat', Arial, sans-serif; 
        font-size: 42px;
        font-weight: bold;
        text-align: center;
        color: #5DC127;
        text-transform: uppercase;
    }      

   	#page{
   		margin: 0 auto;
    	width: 80%;
        background-color: #FFF;

   	}

    header{

    	border-top: 6px solid #5DC127;
 	    background: url(../images/../images/bcruhr12.jpg) no-repeat top center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
         -o-background-size: cover;
            background-size: cover;
    	text-align: center;
        width: 100%;
        padding-bottom: 2px;
    }
    /* Header mit Menü */

    .menu{
        float: right;
        padding-top: 2em;
        padding-right: 5em;
    }

    .menu li{
        font-family: 'Montserrat', Arial, sans-serif; 
        display: inline;
        list-style-type: none;
        padding-right: 0.4em;
        font-weight: normal;
    }

    .menu li:last-child{
        padding: 0.6em 1.4em;
        border-radius: 100px;
		background-color: #f5a623;
		margin-right: 2em;
    }

    .menu li a{
        text-decoration: none;
        color: #FFF;
    }

    .menu li a:hover,
    .menu li a:focus,
    .menu li a.active, 
    .menu li em{
        color: #5DC127;
        font-style: normal;
    }

    .cf:after {
        content: "";
        display: table;
        clear: both;
    }

    header img{
    	margin-top: 230px;
    }

    header h3{ 	
    	font-family: 'Montserrat', Arial, sans-serif;
    	color: #fff;
    	font-size: 42px;
	}	

	header h3 span {
    	background-color: #5DC127;
    	padding: 4px 12px 5px;
    	line-height: 38px;
	}

    #subline{
        min-height:100px;
        min-width: 100%;
        text-align: center;
        font-family: 'Montserrat', Arial, sans-serif;
        background-color: #5DC127;
        color: #FFF;
    }    

    #subline h1{
    	font-size: 2.3em;
    	margin: 0;
    	padding: 0.6em;
    }

    .notiz{
        font-family: 'Montserrat', Arial, sans-serif;
        font-size: 14px;
        font-weight: bold;
        letter-spacing: 0.4px;
        color: rgba(155, 155, 155, 0.52);
        text-align: center;
    }

    .premiumsponsoren{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 10%;

    }

    .premiumsponsoren figure{
        width: 250px;
    }

    .basissponsoren{
        /*display: flex;
        flex-wrap: wrap;
        */
        display: grid;
        /*grid-template-columns: 1fr 1fr 1fr 1fr; */
        grid-template-columns: repeat( auto-fit, minmax(250px, 1fr));
        margin: 0 10%;
        grid-gap: 40px;
    }

    .basissponsoren figure{
        width: 200px;
     }

    .premiumsponsoren img, .basissponsoren img{
        border: solid 1px rgba(151, 151, 151, 0.16);
        border-radius: 50%;
        width: 100%;
    }


    footer{
        background-color: #5DC127;
        padding: 2.2em 210px;
    }

    footer ul{
        float: left;
        margin:0;
        padding:0;
    }


    footer li{
        display: inline;
        list-style-type: none;

    }

    footer li:last-child{
        margin-left: 100px;
    }

    footer .person{
        float:left;
		display: grid;
        grid-template-columns: 27% 75%;
        margin-right: 50px;
	}    	

	footer .foto{
        grid-column: 1;
        grid-row: 1/3;
    }

	footer .name{
        grid-column:2;
        grid-row: 1;
		font-size: 18px;
		font-weight: bold;
		font-style: normal;
		font-stretch: normal;
		line-height: 1.89;
		letter-spacing: 1.1px;
		color: #ffffff;
	}

    footer .sm{
        grid-column: 2;
        grid-row: 2;
    }


	footer .sm a{
		font-size: 14px;
		line-height: 2.43;
		letter-spacing: 0.8px;
		color: #fff;
		text-decoration: none;
    }

    footer li:last-child img{
        margin-left: 20px;
    }

    footer #impressum a{
        font-size: 18px;
        font-weight: bold;
        line-height: 1.89;
        letter-spacing: 1.1px;
        color: #fff;
        text-decoration: none;
        margin-left: 20px;
    }


/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    -webkit-clip-path: inset(50%);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    -webkit-clip-path: none;
    clip-path: none;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
